# ----------------------
# Node.js / NPM
# ----------------------
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ----------------------
# Expo / React Native (client)
# ----------------------
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
client/ios/Pods
client/ios/build/
client/ios/*.xcworkspace
client/ios/*.xcuserstate
client/ios/.DS_Store

# Android
client/android/.gradle
client/android/app/build/
client/android/local.properties

# Metro / Cache
.expo/
dist/
web-build/
*.bundle
*.map
*.packager-info.json
*.vscode

# ----------------------
# Express.js (server)
# ----------------------
server/node_modules
server/.env
server/.env.local

# ----------------------
# AWS / Credentials
# ----------------------
.aws/
*.pem

# ----------------------
# macOS / OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
logs
*.log
*.log.*

# Editors
.vscode/
.cursor/